h1 {
    font-size: 2.25rem;
    font-family: regular;
    text-align: center;
    margin-bottom: 25px;
}
.flexContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
}
.sortContainer{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.result{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.mainItemContainer{
    width: 50%;
    display: flex;
    height: fit-content;
    box-shadow: 2px 2px 5px black;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h3{
    font-size: 1.75rem;
    font-family: bold;
    margin: 0;
}
h5{
    font-family: regular;
    font-size: 1.25rem;
    margin: 0;
    margin-left: 10px;
}
.cat{
    font-weight: bold;
    margin: 0;
    margin-left: 10px;
}
p{
    font-size: 1.25rem;
    font-family: light;
    margin: 10px;
}
img {
    height: 250px;
    width: auto;
}


@font-face {
    font-family: regular;
    src: url(../../montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: bold;
    src: url(../../montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: light;
    src: url(../..//montserrat/static/Montserrat-Light.ttf);
}

@font-face {
    font-family: thin;
    src: url(../..//montserrat/static/Montserrat-Thin.ttf);
}

@font-face {
    font-family: extrathin;
    src: url(../..//montserrat/static/Montserrat-Thin.ttf);
}